@font-face {
  font-family: "Necto Mono";
  src: url(../fonts/nectomono/NectoMono-Regular.woff2);
}

@font-face {
  font-family: "Victor Mono";
  src: url(../fonts/victormono/WOFF2/VictorMono-Regular.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --padding: 1.5rem;
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #777;
  --color-light: #efefef;
  --color-text: var(--color-black);
  --color-text-grey: var(--color-grey);
  --color-background: var(--color-white);
  --color-code-light-grey:  #cacbd1;
  --color-code-comment:     #a9aaad;
  --color-code-white:       #c5c9c6;
  --color-code-red:         #d16464;
  --color-code-orange:      #de935f;
  --color-code-yellow:      #f0c674;
  --color-code-green:       #a7bd68;
  --color-code-aqua:        #8abeb7;
  --color-code-blue:        #7e9abf;
  --color-code-purple:      #b294bb;
  --font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

html {
  font-family: var(--font-family-sans);
  color: var(--color-text);
  background: var(--color-background);
}
img {
  width: 100%;
}
body {
  /* padding: var(--padding); */
  max-width: 100vw;
  margin: 0 auto;
  /* background-color: red; */
  overflow-x: hidden;
}
li {
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  font: inherit;
  background: none;
  border: 0;
  color: currentColor;
  cursor: pointer;
}
strong, b {
  font-weight: 600;
}
small {
  font-size: inherit;
  color: var(--color-text-grey);
}

.bg-light {
  background-color: var(--color-light);
}
.color-grey {
  color: var(--color-text-grey);
}

.header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin-right: -1rem;
  margin-left: -1rem; */
  /* margin-bottom: 6rem; */
}

.logo {
  padding: 1rem;
  display: flex;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
}

.menu {
  display: flex;
}
.menu a {
  padding: 1rem;
  display: block;
}
.menu a[aria-current] {
  text-decoration: underline;
}

.social {
  display: flex;
  padding: 0 .5rem;
}
.social a {
  padding: 1rem .5rem;
}

.section {
  padding: 3rem 0;
}

.grid {
  --columns: 12;
  --gutter: 3rem;
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: 1fr;
}
.grid > .column {
  margin-bottom: var(--gutter);
}

.autogrid {
  --gutter: 3rem;
  --min: 20rem;
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: repeat(auto-fill, minmax(var(--min), 1fr));
  grid-auto-flow: dense;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.text {
  line-height: 1.5em;
}
.text a {
  text-decoration: underline;
}
.text :first-child {
  margin-top: 0;
}
.text :last-child {
  margin-bottom: 0;
}
.text p,
.text ul,
.text ol {
  margin-bottom: 1.5rem;
}
.text ul,
.text ol {
  margin-left: 1rem;
}
.text ul p,
.text ol p {
  margin-bottom: 0;
}
.text ul > li {
  list-style: disc;
}
.text ol > li {
  list-style: decimal;
}
.text ul ol,
.text ul ul,
.text ol ul,
.text ol ol {
  margin-bottom: 0;
}
.text h1,
.h1,
.intro {
  font-size: 2rem;
  margin-bottom: 3rem;
  line-height: 1.25em;
}
.text h2,
.h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}
.text h3,
.h3 {
  font-weight: 600;
}
.text .codeblock {
  display: grid;
}
.text code {
  font-family: var(--font-family-mono);
  font-size: 1em;
  background: var(--color-light);
  padding: 0 .5rem;
  display: inline-block;
  color: var(--color-black);
}
.text pre {
  margin: 3rem 0;
  background: var(--color-black);
  color: var(--color-white);
  padding: 1.5rem;
  overflow-x: scroll;
  overflow-y: hidden;
  line-height: 1.5rem;
}
.text pre code {
  padding: 0;
  background: none;
  color: inherit;
}
.text hr {
  margin: 6rem 0;
}
.text dt {
  font-weight: 600;
}
.text blockquote {
  font-size: 1.25rem;
  color: grey;
  line-height: 1.325em;
  /* border-left: 2px solid var(--color-black);
  padding-left: 1rem; */
  margin: 3rem 0;
  max-width: 25rem;
}
.text blockquote footer {
  font-size: .875rem;
  font-style: italic;
}
.text figure {
  margin: 3rem 0;
}
.text figcaption {
  padding-top: .75rem;
  color: var(--color-text-grey);
}
.text figure ul {
  line-height: 0;
  display: grid;
  gap: 1.5rem;
  margin: 0;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}
.text figure ul li {
  list-style: none;
}

hr {
  border: 0;
  background: currentColor;
  height: 2px;
  width: 1.5rem;
  margin: 3rem auto;
}

.align-center {
  text-align: center;
}

.intro {
  max-width: 40rem;
}
.intro *:not(:last-child) {
  margin-bottom: 1em;
}

.cta {
  background: var(--color-black);
  color: var(--color-white);
  display: inline-flex;
  justify-content: center;
  padding: .75rem 1.5rem;
  border: 4px solid var(--color-white);
  outline: 2px solid var(--color-black);
}

.box {
  background: var(--color-light);
  padding: 1.5rem;
  border: 4px solid var(--color-white);
  outline: 2px solid var(--color-light);
}

.video,
.img {
  position: relative;
  display: block;
  --w: 1;
  --h: 1;
  padding-bottom: calc(100% / var(--w) * var(--h));
  background: var(--color-black);
}
.img img,
.video iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0;
}
.img[data-contain] img {
  object-fit: contain;
}
.img-caption,
.video-caption {
  padding-top: .75rem;
  line-height: 1.5em;
}


.map {
  --w: 2;
  --h: 1;
  padding-bottom: calc(100% / var(--w) * var(--h));
  position: relative;
  overflow: hidden;
  background: var(--color-black);
}
.map iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.margin-s {
  margin-bottom: .75rem;
}
.margin-m {
  margin-bottom: 1.5rem;
}
.margin-l {
  margin-bottom: 3rem;
}
.margin-xl {
  margin-bottom: 4.5rem;
}
.margin-xxl {
  margin-bottom: 6rem;
}

header > h1{
  /* position: absolute; */
}

.hero{
  /* border: pink 100px solid; */
}

.testklasse{
  color: #7e9abf;
}

.textklasse{
  font-family: 'Courier New', Courier, monospace;
}

.quoteklasse{
  background-color: red;
}

.bildklasse{
  border: 10px solid #7e9abf;
}

.videoklasse{
  border: #d16464 10px solid;
}

.gallerieklasse{
  border: #a7bd68 10px solid;
}

#bildid{
  width: 20px;
}


/* .blog-prevnext{
  border: 1px solid red;
} */

.author{
  font-family: serif;
  color: var(--color-code-comment);
  font-size: smaller;
}

.notes-content{
  padding: 3rem;
}

.note-audio{
  width: 100%;
}

.home-hero{
  width: 100vw;
  height: 80vh;
  background-image: url(../images/city-3281607_1920.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */ 
    filter: url(resources.svg#desaturate); /* Gecko */
    filter: gray; /* IE */
    -webkit-filter: grayscale(1); /* Old WebKit */
}

.home-hero > h1{
  font-size: 6vw;
  padding: 1rem;
  font-family: Victor Mono;
}

.home-header{
  font-size: 6vw;
  padding: 1rem;
  font-family: Victor Mono;
}

.home-info{
  background-color: rgba(104, 143, 119, 1);
  font-family: Victor Mono;
  width: 100vw;
  height: 100%;
  padding: 2rem;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
}

.home-about{
  width: 60vw;
}

.home-about > h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-bottom: 20px;
}

.home-about > p{
  font-size: 1.25rem;
}

.home-daten{
  width: 30vw;
}

.home-daten > h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-bottom: 20px;
}

.home-subhead{
  font-size: 3rem;
  margin: 2rem;
  margin-top: 4rem;
  font-family: Victor Mono;
}

.logo{
  font-weight: lighter;
}

.logo-graz{
  z-index: 6;
  color: rgba(239, 63, 83, 1);
}

.logo-geschichten{
  position: absolute;
  padding-top: 3rem;
  padding-left: 3rem;
  z-index: 5;
  color: #666;
}

.footer{
  width: 100vw;
  background: rgba(76, 76, 76, 0.7);
  padding: 2rem;
  display: flex;
  padding-bottom: 10vw;
}

.footer-about-wrapper > h1 {
  font-size: 1rem;
  color: white;
  font-family: Victor Mono;
  margin-bottom: 10px;
}

.footer-about{
  font-family: Victor Mono;
  color: rgb(180, 180, 180);
  width: 40vw;
}

.footer-about-wrapper{
  margin-right: 4rem;
}

.footer-partner > h1{
  font-size: 1rem;
  color: white;
  font-family: Victor Mono;
  margin-bottom: 10px;
}

.footer-logo{
  width: 350px;
  object-fit: contain;
  padding-right: 3rem;
  padding-top: 2rem;
  margin-top: 1rem;
}

.footer-nav{
  margin-right: 10rem;
  display: flex;
  flex-direction: column;
}

.footer-nav > h1 {
  font-size: 1rem;
  color: white;
  font-family: Victor Mono;
  margin-bottom: 10px;
}

.footer-nav > a {
  font-size: 1rem;
  color: rgb(180, 180, 180);
  font-family: Victor Mono;
}

.footer-nav > a:hover{
  color: #019A48;
}

@media screen and (min-width: 60rem) {
  body {
    --padding: 3rem;
  }

  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid > .column {
    grid-column: span var(--columns);
  }

}

.pagination {
  display: flex;
  padding-top: 6rem;
}
.pagination > span {
  color: var(--color-text-grey);
}
.pagination > * {
  padding: .5rem;
  width: 3rem;
  text-align: center;
  border: 2px solid currentColor;
  margin-right: 1.5rem;
}
.pagination > a:hover {
  background: var(--color-black);
  color: var(--color-white);
  border-color: var(--color-black);
}

.note-excerpt {
  line-height: 1.5em;
}
.note-excerpt header {
  margin-bottom: 1.5rem;
}
.note-excerpt figure {
  margin-bottom: .5rem;
}
.note-excerpt-title {
  font-weight: 600;
}
.note-excerpt-date {
  color: var(--color-text-grey);
}

/* Layout-Field Styles */
.layout {
  margin-bottom: 2rem;
}
.columns {
  display: flex;
  gap: 2rem;
}
.column {
  flex: 1 1 0;
}
/* Spaltenverh채ltnisse f체r typische Layouts */
.columns--2 .column--8 { flex: 2 1 0; }
.columns--2 .column--4 { flex: 1 1 0; }
.columns--2 .column--6 { flex: 1 1 0; }
.columns--3 .column { flex: 1 1 0; }

@media (max-width: 800px) {
  .columns {
    flex-direction: column;
    gap: 1rem;
  }

  .home-info{
    flex-direction: column;
    padding: 1rem;
  }

  .home-about{
    width: 90vw;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .home-daten{
    width: 90vw;
    margin-bottom: 40px;
  }

  .footer{
    padding: 1rem;
    flex-direction: column;
    padding-bottom: 4rem;
  }

  .footer-about{
    width: 90vw;
    margin-bottom: 40px;
  }

  .footer-logo{
    width: 300px;
    padding-top: 1rem;
  }
}

/* Notes Grid Layout - Allgemeine Styles */
.notes-grid {
  display: grid;
  gap: 0.5rem;
  padding: 2rem;
  /*background-color: rgba(104, 143, 119, 1);*/
  padding-bottom: 10rem;
}

/* Homepage-spezifische Note-Grid Styles */
.home .notes-grid {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.home .note-card {
  position: relative;
  aspect-ratio: 16/9;
  background: #f5f5f5;
  overflow: hidden;
}

.home .note-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.home .note-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.home .note-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0);
  color: white;
  font-size: 1.5rem;
  transition: opacity 0.3s ease;
  z-index: 2;
  font-family: Victor Mono;
}

.home .note-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.home .note-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home .note-card:hover .note-title {
  opacity: 0;
}

.home .note-card:hover .note-cover {
  opacity: 1;
}

/* Urspr체ngliche Note-Styles f체r einzelne Note-Seiten */
.note-card {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  overflow: hidden;
}

.note-card:hover {
  transform: translateY(-4px);
}

.note-cover {
  aspect-ratio: 3/2;
  overflow: hidden;
  position: relative;
}

.note-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.note-title {
  margin: 0;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.4;
}

.note-title a {
  color: inherit;
  text-decoration: none;
}

.note-title a:hover {
  color: #666;
}

@media screen and (max-width: 768px) {
  .home .notes-grid {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  
  .home .note-title {
    font-size: 1.25rem;
    padding: 1rem;
  }
}

/* Image Slider Styles */
.block-image-slider {
  margin: 3rem 0;
}

.image-slider {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background: var(--color-light);
  border: 4px solid var(--color-white);
  outline: 2px solid var(--color-light);
}

.image-slider-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.image-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-slide.active {
  opacity: 1;
}

.image-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-slider-nav {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  pointer-events: none;
}

.image-slider-prev,
.image-slider-next {
  width: 3rem;
  height: 3rem;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  pointer-events: auto;
}

.image-slider-prev:hover,
.image-slider-next:hover {
  background: rgba(0, 0, 0, 0.9);
}

.image-slider-dots {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
  pointer-events: none;
}

.image-slider-dot {
  width: 0.75rem;
  height: 0.75rem;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  pointer-events: auto;
}

.image-slider-dot.active {
  background: white;
}

.image-slider-dot:hover {
  background: rgba(255, 255, 255, 0.8);
}

.image-slider-caption {
  padding-top: 0.75rem;
  line-height: 1.5em;
  color: var(--color-text-grey);
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .image-slider-nav {
    padding: 0 0.5rem;
  }
  
  .image-slider-prev,
  .image-slider-next {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
  }
  
  .image-slider-dots {
    bottom: 0.5rem;
  }
  
  .image-slider-dot {
    width: 0.5rem;
    height: 0.5rem;
  }
}


