.test{
  font-weight: 200;
}

.Hintergrund-weiß{
  background-color: #FBFBF9;
  color: #2C372F;
  padding: 1rem 30% 1rem 20%;
}

.Hintergrund-hellGrün{
  background-color: #9BB8A2;
  color: #2C372F;
  padding: 1rem 30% 1rem 20%;
}

.Hintergrund-mittelGrün{
  background-color: #688f77;
  color: #2C372F;
  padding: 1rem 30% 1rem 20%;
}

.Hintergrund-dunkelGrün{
  background-color: #3d6d55;
  color: #FBFBF9;
  padding: 1rem 30% 1rem 20%;
}

.Hintergrund-sehrDunkelGrün{
  background-color: #1e4034;
  color: #FBFBF9;
  padding: 1rem 30% 1rem 20%;
}

.lead{
  margin-left: 300px;
  font-weight: 700;
}

.audio-element{
  padding-left: 443px;
  padding-right: 442px;
}

.foto-textbreit{
  padding-left: 230px;
  padding-right: 240px;
}

.foto-textbreit .img-caption{
  margin-left: 0;
}
