.Hintergrund-weiß{
  background-color: #FBFBF9;
  color: #2C372F;
  height: 100%;
  padding: 5%;
}

.Hintergrund-hellGrün{
  background-color: #9BB8A2;
  color: #2C372F;
  height: 100%;
  padding: 5%;
}

.Hintergrund-mittelGrün{
  background-color: #688f77;
  color: #2C372F;
  padding: 5%;
  height: 100%;
}

.Hintergrund-dunkelGrün{
  background-color: #3d6d55;
  color: #FBFBF9;
  padding: 5%;
  height: 100%;
}

.Hintergrund-sehrDunkelGrün{
  background-color: #1e4034;
  color: #FBFBF9;
  height: 100%;
  padding: 5%;
}

.lead{
  margin-left: 70px;
  font-weight: 700;
  font-size: 25px
}

.audio-element{
  padding-left: 443px;
  padding-right: 442px;
}

.foto-textbreit{
  padding-left: 230px;
  padding-right: 240px;
}

.foto-textbreit .img-caption{
  margin-left: 0;
}
